<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No puedes pasar !!</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        img{
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
    <div class="centered">
        <h1>No no no, Aqui no puedes pasar</h1>
      <img src="/assets/imgs/403.png" alt="Error 403, aqui no puedes entrar" />
      <h2>ERROR 403</h2>
    </div>
</body>
</html>