@use "./../base/variables" as v;

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 0 2rem;

    .about-div {
      width: 60%;

      h1 {
        font-size: 1.8rem;
        color: v.$dark-grey;
      }
    }

    .about-img {
      width: 40%;
      height: 40%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
      }
    }

    .about-title {
      font-family: Fresh-Fruit;
    }

    p {
      font-size: 1rem;
      text-align: justify;

      span {
        font-size: 0.8rem;
      }
    }

    ul {
      list-style-image: url("/la-fruteria-cate/assets/imgs/platano.png");
      li {
        font-size: 0.8rem;
      }
    }
  }
}

@keyframes roll-img {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.orange-img {
  animation: roll-img 7s infinite linear;
}
