.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    color: rgb(148, 140, 140);

    /* display: none; */
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: rgb(113, 104, 104);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgb(173, 215, 48);
}

@media screen and (min-width: 320px) {
    .card-body {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-content {
        margin-inline: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

@media screen and (min-width: 1120px) {
    .card-container {
        max-width: 1120px;
    }

    .swiper-button-next {
        right: -1rem;
    }

    .swiper-button-prev {
        left: -1rem;
    }
}