.swiper{
    padding: 2rem 0;
}

.swiper-wrapper {
    display: flex;
    gap: 2rem;

    article {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .card-body {
            align-self: flex-start;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin: 0 auto;
        }

        .card-footer {
            width: 100%;
        }
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    color: rgb(148, 140, 140);

    /* display: none; */
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: rgb(113, 104, 104);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgb(173, 215, 48);
}

@media screen and (min-width: 320px) {
    .card-body {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-content {
        margin-inline: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

@media screen and (min-width: 1120px) {
    .card-container {
        max-width: 1120px;
    }

    .swiper-button-next {
        right: -1rem;
    }

    .swiper-button-prev {
        left: -1rem;
    }
}