@use './../base/variables' as v;

header {
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 4px rgba(221, 221, 221, 0.836);
    padding: 1rem 3rem;

    .nav-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2.5rem;
    }
}

.nav-btn {
    background-color: v.$dark-green;
    color:v.$white;
    border-radius: 100px;
    box-shadow: 0 3px 4px rgba(68, 125, 90, 0.686);
    cursor: pointer;
    text-transform: uppercase;
    padding: .9rem 3rem;
    text-align: center;
    text-decoration: none;
    border: 0;
    display: flex;
    gap: .6rem;
    align-items: center;
    transition: all .5s ease-in-out;
}

.nav-btn:hover{
    background-color: v.$green;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;

    li {
        font-size: 1.1rem;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            transition: all .3s ease-in;
        }

        a:hover{
            color: v.$light-grey;
        }
    }
}

.dark-mode{
    cursor:pointer;
}

a {

    &:link,
    &:visited,
    &:active {
        text-decoration: none;
    }
}

.open-menu,
.close-menu {
    display: none;
    cursor: pointer;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}







