@use './../base/variables' as v;

.wrap-1 {
    position: relative;
}

.hero{
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 90%);
    background: url(/assets/imgs/hero.jpg) center/cover;
    height: 90vh;
}

.wrap-1::before {
    position: absolute;
    background: v.$dark-grey;
    opacity: 0.7;
    content: "";
    height: 100%;
    width: 100%;
}

.hero-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 90%;
    width: 50%;
    text-align: left;
    padding: 0 5rem;
    
    h1{
        font-size: 3rem;
        color: v.$white;

        .title{
            font-family: Fresh-Fruit;
        }
    }
}

