@font-face {
  font-family: "Fresh-Fruit";
  src: url(../assets/fonts/Fresh-Fruit.ttf);
}

@font-face {
  font-family: "Open";
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

* {
  font-family: Open;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  text-wrap: pretty;
}
