// Tipografia
$font-1: Fresh-Fruit;
$font-2: Open;

// Colores
$light-green: #78b474;
$green: #598356;
$dark-green: #355641;
$color-red: #920303;
$dark-grey: #3b3a3a;
$light-grey: #7c7979;
$black: #000000;
$white: #f0f0f0;