// Tipografia
$font-1: Fresh-Fruit;
$font-2: Raleway-Light;
$font-3: Noto;

// Colores
$dark-green: #207419;
$light-green: #86d492;
$dark-grey: #2b2a2a;
$light-grey: #7c7979;
$black: #000000;
$white: #ffffff;