@font-face {
  font-family: "Fresh-Fruit";
  src: url(/la-fruteria-cate/assets/fonts/Fresh-Fruit.ttf);
}
@font-face {
  font-family: "Open";
  src: url(/la-fruteria-cate/assets/fonts/OpenSans-Regular.ttf);
}
* {
  font-family: Open;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 3rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-btn {
  background-color: #355641;
  color: #f0f0f0;
  border-radius: 100px;
  box-shadow: 0 3px 4px rgba(68, 125, 90, 0.686);
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.9rem 3rem;
  text-align: center;
  text-decoration: none;
  border: 0;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.nav-btn:hover {
  background-color: #598356;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}
.nav-bar ul li {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.nav-bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.nav-bar ul li a:hover {
  color: #7c7979;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

/* Dark Mode */
body.dark-mode {
  background-color: #000;
  color: #ffffff;
}

#dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

#dark-mode-toggle img {
  width: 50px;
  height: 50px;
}

.wrap-1 {
  position: relative;
}

.hero {
  clip-path: ellipse(79% 58% at 42% 35%);
  background: url("/la-fruteria-cate/assets/imgs/hero.jpg") center/cover;
  height: 100vh;
  min-height: 90vh;
}

.wrap-1::before {
  position: absolute;
  background: #3b3a3a;
  opacity: 0.7;
  content: "";
  height: 100%;
  width: 100%;
}

.hero-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  height: 90%;
  width: 70%;
  text-align: left;
  padding: 0 5rem;
}
.hero-body h1 {
  font-family: Fresh-Fruit;
  font-size: 3.5rem;
  color: #f0f0f0;
}
.hero-body p {
  color: #f0f0f0;
}

.wrap-2 {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.wrap-2 h1 {
  text-transform: uppercase;
  color: #3b3a3a;
  font-family: Fresh-Fruit;
  text-align: center;
  letter-spacing: 0.2rem;
}
.wrap-2 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  width: 80%;
}
.wrap-2 .container .container-info {
  border: 1px solid #7c7979;
  border-radius: 6px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.wrap-2 .container .container-info p {
  background-color: #355641;
  color: #f0f0f0;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  text-align: center;
  border: 0;
  font-weight: 200;
}

.products-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.card {
  border: 0.5px solid #c9c9c9;
  border-radius: 6px;
  box-shadow: 0 5px 8px #7c7979;
  transition: all 0.3s ease-out;
}
.card:hover {
  transform: translateY(-5px);
  border: 1px solid #355641;
}
.card img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.card .card-body {
  padding: 0 1rem;
}
.card .card-body h2 {
  font-size: 1rem;
}
.card .card-body p {
  font-size: 1rem;
}
.card .card-body p span {
  font-size: 0.7rem;
}
.card .card-footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.card .card-footer button {
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #355641;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.card .card-footer button:hover {
  background-color: #598356;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: rgb(148, 140, 140);
  /* display: none; */
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: rgb(113, 104, 104);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(173, 215, 48);
}

@media screen and (min-width: 320px) {
  .card-body {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}
@media screen and (min-width: 1120px) {
  .card-container {
    max-width: 1120px;
  }
  .swiper-button-next {
    right: -1rem;
  }
  .swiper-button-prev {
    left: -1rem;
  }
}
footer {
  width: 100%;
  margin-bottom: -5rem;
  background-color: #355641;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.info-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  padding-bottom: 2rem;
  width: 80%;
}
.info-1 h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.info-1 p {
  font-size: 0.8rem;
}

.sm-container {
  display: flex;
  flex-direction: column;
}
.sm-container .sm-icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
}

.info-2 {
  font-size: 0.8rem;
}

.elevator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

html .log-in {
  background: url("/la-fruteria-cate/assets/imgs/hero.jpg") center/cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .log-in .log-form {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: none;
  border-radius: 6px;
  background-color: rgba(214, 213, 213, 0.797);
  opacity: 0.9;
  -webkit-box-shadow: -1px 2px 10px 3px rgb(189, 189, 189);
  -moz-box-shadow: -1px 2px 10px 3px rgb(189, 189, 189);
  box-shadow: -1px 2px 10px 3px rgb(189, 189, 189);
  width: 40%;
  padding: 1.5rem;
}
html .log-in .log-form h2 {
  text-transform: uppercase;
}
html .log-in .log-form label {
  text-align: left;
}
html .log-in .log-form input {
  padding: 0.5rem;
  width: 50%;
  border-radius: 6px;
  border: none;
}
html .log-in .log-form .form-btns {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  gap: 3rem;
}
html .log-in .log-form .form-btns button {
  border: 0;
  border-radius: 6px;
  background-color: rgb(157, 157, 157);
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
html .log-in .log-form .form-btns button:hover {
  background-color: rgba(182, 182, 182, 0.827);
}

.log-in::before {
  position: absolute;
  background: rgba(219, 219, 219, 0.885);
  opacity: 0.7;
  content: "";
  height: 100%;
  width: 100%;
}

.container {
  padding: 2rem 4rem;
}
.container .admin-actions {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.container .admin-actions .exit-btn {
  align-self: flex-end;
  text-decoration: none;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  background-color: #920303;
  color: #f0f0f0;
}
.container .admin-actions fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 6px;
  background-color: rgba(163, 208, 163, 0.505);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.container .admin-actions fieldset legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.container .admin-actions fieldset input {
  padding: 0.7rem;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.container .admin-actions fieldset .action-btns {
  width: 30%;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  background-color: #3b3a3a;
  color: #f0f0f0;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.container .admin-actions fieldset .action-btns:hover {
  background-color: #7c7979;
}
.container .admin-actions .admin-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  margin: 3rem 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.container .admin-actions .admin-table th, .container .admin-actions .admin-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #3b3a3a;
}
.container .admin-actions .admin-table th {
  background-color: #355641;
  color: #f0f0f0;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
